<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Restaurant catalogue">
  <meta name="theme-color" content="#3D8361"/>
  <meta name="mobile-web-app-capable" content="yes">

  <link rel="apple-touch-icon" href="/icons/apple-icon-180x180-seochecker-manifest-7314.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" href="favicon.png">

  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>Restau</title>
</head>
<body>
  <a href="#mainContent" class="skip-link">Menuju ke konten</a>
      <nav id="nav" class="nav">
        <div class="title"><h1>Restau</h1></div>
        <a href="#/hamburger" id="hamburger" aria-label="click to open nav"><i class="fa-solid fa-bars"></i></a>
        <ul>
          <li><a href="#/list-restaurant">List Restaurant</a></li>
          <li><a href="#/favorite">Favorite</a></li>
          <li><a href="https://github.com/drean183" target="_blank" rel="noopener">About Us</a></li>
        </ul>
      </nav>
      <div class="hero">
        <div class="hero-inner">
          <picture>
            <source media="(max-width: 600px)" srcset="./images/hero-image_4-small.jpg">
            <img src="./images/hero-image_4-large.jpg" 
                 alt="hero">
          </picture>
          <div class="text-wrap">
            <h1>Restau Apps</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus,gendi repellat?</p>
          </div>
        </div>
      </div>
  <main id="mainContent" tabindex="0"></main>
  
  <footer><p>All data obtained from <a href="https://www.dicoding.com/" target="_blank" rel="noreferrer">Dicoding</a></p></footer>
</body>
<script src="https://kit.fontawesome.com/083872a52b.js" crossorigin="anonymous"></script>
</html>
